* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.clock {
  position: relative;
  width: 250px;
  height: 250px;
  border: 8px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 12px;
  text-align: center;
  color: white;
}

.clock span b {
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
}

.hand {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hand i {
  position: absolute;
  width: 6px;
  height: var(--h);
  background: var(--clr);
  border-radius: 8px;
}
